body{
	margin: 0px;
	background-color: #CCCCCC;
}
.first_wrapper{
	height: auto;
	width: 100%;
	margin:auto;
}



#banner_photo1{
	margin-top:0px;
	max-width: 100%;
	width:auto;
	height:auto;
}
#banner_photo2{
	margin-top:-10%;
	margin-left: 14%;
	max-width: 75%;
	width: 75%;
	max-height: 400px;
	position: absolute;
    top: 1;
    z-index: -1;

}
.round-button {
	width:10%;
	margin:auto;
	margin-top: 2%;
	margin-bottom: 2%;
  	display:block;
}
.round-button-circle {

	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:3px solid #fff;
    overflow:hidden;
    
    background: #003366; 
    box-shadow: 0 0 3px white;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {

    display:block;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.8em;
    font-weight:bold;
    text-decoration:none;
}